# To get started with Dependabot version updates, you'll need to specify which
# package ecosystems to update and where the package manifests are located.
# Please see the documentation for all configuration options:
# https://docs.github.com/en/code-security/dependabot/working-with-dependabot/dependabot-options-reference

version: 2
updates:
  - package-ecosystem: 'github-actions'
    directory: '/'
    schedule:
      interval: 'weekly'
      day: 'monday'
      time: '02:00'

  - package-ecosystem: 'devcontainers'
    directory: '/'
    schedule:
      interval: 'weekly'
      day: 'monday'
      time: '02:00'

  - package-ecosystem: 'gitsubmodule'
    directory: '/'
    schedule:
      interval: 'weekly'
      day: 'monday'
      time: '02:00'

  - package-ecosystem: 'docker'
    directories: ['/packages/runner/docker']
    # For some reason, cooldown is not working as expected with these many docker updates.
    # It times out and fails to create PRs. Uncomment if/when fixed.
    # cooldown:
    #   default-days: 14 # chill for 14 days so that they fix any sudden issues
    #   include: ['dependabot/*']
    groups:
      dependabot-core-images:
        patterns: ['dependabot/*']
    schedule:
      interval: 'weekly'
      day: 'monday'
      time: '02:00'

  - package-ecosystem: 'bundler'
    directory: '/packages/runner/upstream'
    schedule:
      interval: 'weekly'
      day: 'monday'
      time: '02:00'

  - package-ecosystem: 'npm'
    directory: '/'
    schedule:
      interval: 'weekly'
      day: 'monday'
      time: '02:00'
    open-pull-requests-limit: 20
    groups:
      azure: { patterns: ['@azure/*'] }
      fumadocs: { patterns: ['fumadocs-*', '@fumadocs/*'] }
      next-and-react:
        patterns:
          - '@types/react'
          - '@types/react-dom'
          - 'next'
          - 'react'
          - 'react-dom'
      opentelemetry: { patterns: ['@opentelemetry/*'] }
      prisma: { patterns: ['@prisma/*', 'prisma'] }
      stripe: { patterns: ['@stripe/*', 'stripe'] }
      all-npm-minor-updates:
        patterns: ['*']
        exclude-patterns:
          - '@azure/*'
          - '@biomejs/biome'
          - 'fumadocs-*'
          - '@fumadocs/*'
          - '@types/react'
          - '@types/react-dom'
          - 'next'
          - 'react'
          - 'react-dom'
          - '@opentelemetry/*'
          - '@prisma/*'
          - 'prisma'
          - '@stripe/*'
          - 'stripe'
        update-types:
          - minor
          - patch
    ignore:
      - dependency-name: recharts
        update-types: [version-update:semver-major] # shadcn still doesn't support (https://github.com/shadcn-ui/ui/issues/7669)
