name: Changesets

on:
  workflow_dispatch:
  push:
    branches: [main]
    paths:
      - '.changeset/**'
      - 'packages/**'
      - 'extensions/**'
  pull_request:
    branches: [main]
    paths:
      - '.changeset/config.json'
      - '.github/workflows/changesets.yml'

permissions:
  contents: write # needed to push commits and create releases
  pull-requests: write # needed to create PRs
  id-token: write # needed for provenance and OIDC

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  Changeset:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          submodules: true

      - name: Setup pnpm
        uses: pnpm/action-setup@v4

      - name: Setup node
        uses: actions/setup-node@v6
        with:
          node-version: 24
          cache: 'pnpm'
          registry-url: 'https://registry.npmjs.org'

      - name: Download deps
        run: pnpm install

      # IMPORTANT: building CLI using turbo also builds its dependencies
      # hence where there are no additional build steps
      - name: Build
        run: pnpm turbo run build
        working-directory: '${{ github.workspace }}/packages/cli'

      - name: Generate token
        if: ${{ github.event_name != 'pull_request' }}
        id: generate-token
        uses: actions/create-github-app-token@v2
        with:
          app-id: ${{ secrets.GH_APP_ID_RELEASER }}
          private-key: ${{ secrets.GH_APP_PRIVATE_KEY_RELEASER }}
          permission-contents: write
          permission-pull-requests: write
          # # owner and repositories default to the current repo if not provided
          # owner: ${{ github.repository_owner }}
          # repositories: ${{ github.repository.name }}

      # Ensure npm 11.5.1 or later for trusted publishing
      # https://github.com/orgs/community/discussions/173102
      - name: Update npm to latest
        if: ${{ github.event_name != 'pull_request' }}
        run: npm install -g npm@latest

      # Change git info to match the token
      - name: Setup git info
        if: ${{ github.event_name != 'pull_request' }}
        run: |
          # Specifying the full email allows the avatar to show up: https://github.com/orgs/community/discussions/26560
          git config user.name "release-automator-mburumaxwell[bot]"
          git config user.email "214517399+release-automator-mburumaxwell[bot]@users.noreply.github.com"

      - name: Create release PR or Publish
        if: ${{ github.event_name != 'pull_request' }}
        uses: changesets/action@v1
        with:
          title: 'Version packages'
          version: pnpm packages:version
          publish: pnpm packages:publish
          commit: 'Version packages'
          setupGitUser: false # setup above
        env:
          # needs access to push to main
          GITHUB_TOKEN: ${{ steps.generate-token.outputs.token }}
          # use OIDC for npm authentication instead of NPM_TOKEN
          NPM_TOKEN: '' # See https://github.com/changesets/changesets/issues/1152#issuecomment-3190884868
